body {
  padding: 0;
  margin: 0;
}

main{
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom right, rgb(157, 208, 255), rgb(76, 76, 255));
}

.container{
  width: auto;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
}

input{
  width: 200px;
  margin-top: 20px;
  padding: 5px;
  position: relative;
}
.input::before{
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 2;
  background-image: url(images/_ionicons_svg_md-search.svg);
}

.input{
  display: flex;
  justify-content: end;
  align-items: end;
  /*margin-left: auto;
  margin-right: auto;*/
}

table{
  margin-top: 30px;
  margin-bottom: 10px;
}

tr {
  /*display: block;
  float: left;*/
  min-width:200px;
}
th,td {
  /*display: block;
  text-align: left;*/
  padding: 6px;
  border: 1px solid #ccc;
  background-color: white;
  /*width: 100px*/
}

.list{
  border: 1px solid black;
  max-width: 200px;
  margin-left: auto;
  background-color: white;
  padding: 5px;
}

ul{
  list-style: none;
  padding-left: 40px;
  padding-right: 40px
}

.view-more{
  border-radius: 30px;
  padding: 15px;
  margin: auto;
  background-color: rgb(209, 255, 255);
  border: 1px solid rgb(0, 0, 109);
  display: flex;
}

.toggle{
  margin-top: 30px;
  padding: 10px;
  background-color: rgb(209, 255, 255);  
  border: 1px solid rgb(0, 0, 109);
  border-radius: 5px;
}

.toggle:focus{
  background-color: blue;
  color: white;
}

.width{
  width: 150px;
}

